.btn-block__next {
	display: none;
}

.btn-block__result {
	display: none;
}

.btn-block__again {
	display: none;
}

.result-block {
	display: flex;
	flex-flow: column wrap;
	width: 30%;
}

.result-block__question {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

.result-block__question-answer_right {
	background-color: green;
	padding: 10px;
}

.result-block__question-answer_wrong {
	background-color: red;
	padding: 10px;
}

.result-block__list-item {
	flex: 1;
}

.container__element {
	display: none;
}

.variant {
	background-color: #f2f2f2;
	padding:20px;
	border-right: 1px solid black;
	position: relative;
	cursor: pointer;
	display: inline-block;
}

.variants-block__item {
	padding-left: 30px;
	user-select: none;
}

.variant-block__checkbox {
	display: none;
}

.variant-block__real-checkbox {
	width: 20px;
	height: 20px;
	position: absolute;
	background-color: #000;
	display: inline-block;
}

.variant-block__real-checkbox:before {
	content: '\2713';
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	display: none;
}

.variant-block__checkbox:checked + .variant-block__real-checkbox:before {
	display: flex;
}