.btn-block {
  display: flex;
  justify-content: center;
  margin: 20px 0;

  &__text {
    z-index: 100;
    position: relative;
    transition: .4s all;
  }

  &__check,
  &__next,
  &__result,
  &__again {

    &.disabled {
      pointer-events: none;
      opacity: 0.4;
    }

    margin-right: 10px;
    border: 2px solid #F07B1D;
    padding: 0 50px;
    border-radius: 3px;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    position: relative;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    text-align: center;
    background-color: transparent;
    cursor: pointer;

    &:before {
      content: '';
      background-color: #F07B1D;
      width: 50%;
      height: 100%;
      position: absolute;
      z-index: 10;
      left: 0;
      top: 0;
      transition: .4s all;
    }

    &:after {
      content: '';
      background-color: #F07B1D;
      width: 50%;
      height: 100%;
      position: absolute;
      right: 0;
      z-index: 10;
      top: 0;
      transition: .4s all;
    }

    &:hover .btn-block__text {
      color: #000;
    }

    &:hover:before {
      width: 0;
    }

    &:hover:after {
      width: 0;
    }
  }

  &__next {
    display: none;
  }

  &__result {
    display: none;
  }

  &__again {
    display: none;
  }
}