.variants-block {

  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

  @media (max-width: 768px) {
    flex-flow: column wrap;
  }

  &__variant {
    background-color: #9DD9D2;
    padding: 20px;
    position: relative;
    cursor: pointer;
    display: flex;
    flex: 1;
    text-align: center;
    margin-right: 20px;
    align-items: center;

    @media (max-width: 768px) {
      margin-right: 0;
      margin-bottom: 20px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__item {
    padding-left: 50px;
    user-select: none;
    color: #000;
    font-size: 20px;
  }

  &__checkbox {
    display: none;
  }

  &__real-checkbox {
    width: 25px;
    height: 25px;
    position: absolute;
    background-color: #fff;
    display: inline-block;
  }

  &__real-checkbox:before {
    content: '\2713';
    width: 25px;
    height: 25px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F07B1D;
    display: none;
  }

  &__checkbox:checked + .variants-block__real-checkbox:before {
    display: flex;
  }

  &__checkbox:checked ~ .variants-block__item {
    font-weight: bold;
  }
}
