.variants-block {

  &__variant {
    background-color: #f2f2f2;
    padding:20px;
    border-right: 1px solid black;
    position: relative;
    cursor: pointer;
    display: inline-block;
  }

  &__item {
    padding-left: 30px;
    user-select: none;
  }

  &__checkbox {
    display: none;
  }

  &__real-checkbox {
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: #000;
    display: inline-block;
  }

  &__real-checkbox:before {
    content: '\2713';
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    display: none;
  }

  &__checkbox:checked + .variants-block__real-checkbox:before {
    display: flex;
  }
}